:root {
    --background-color: #1E1E1E;
    --text-color: #E0E0E0;
}

.light-mode {
    --background-color: #ffffff;
    --text-color: #333333;
}

@font-face {
    font-family: nec_apc3;
    src: url(/Web437_NEC_APC3_8x16.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

html, body {
    margin: 0;
    padding: 0;
    font-family: nec_apc3;
    image-rendering: pixelated;
    -webkit-font-smoothing : none;
    font-smooth: never;
}

body {
    background-color: var(--background-color);
    color: #333;
}

a:visited, a:active { 
    text-decoration: none; 
    color: var(--text-color);
}

a:link {
    color: var(--text-color);
}

header {
    background: linear-gradient(100deg, #37b8c1, #c09bfc);
    padding: 10px;
}

nav {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode:both
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px;
}

main {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode:both
}

main section {
    background: linear-gradient(100deg, #37b8c1cb, #c09bfcc2);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: var(--text-color);
}

main h1, main h2 {
    color: var(--text-color);
    margin-top: 0px;
}

#projects ul {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#projects ul li a {
    text-align: center;
    text-decoration: none;
}

ul li {
    margin-bottom: 5px;
}

#contact p a {
    color: var(--text-color);
}

footer {
    background: linear-gradient(100deg, #37b8c1, #c09bfc);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer p {
    margin: 0;
}

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: var(--text-color);
}

@media (min-width: 600px) {
    nav ul {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
      
        top: 50px;
        left: 0;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        display: block;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ffffff;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        scale: 0.9;
    }
    100% {
        opacity: 1;
        scale: 1;
     }
}